button{
    width: 60px;
    height: 40px;
    background-color: rgb(216, 202, 202);
    color: rgb(12, 11, 11);
    margin: 3px;
border-radius: 8px;
margin-top: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 20px;
    margin-bottom: 20px;
    height: 500px;
}